/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* SITE DEFAULTS */

body {
    background-color: black;
    color: #fff;   
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

p { font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
}

.uppercase {
    text-transform: uppercase;
}

.section-bg {
    background-image:
    radial-gradient(circle, rgba(4,157,217,0.9) 0%, rgba(0,0,0,0.9) 70%),
    url(/assets/images/BG-Texture.jpg);
    background-size: cover;
}

nav a {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #6d980f;
}

#menu-btn{
    background-color:#6D980F;
}

#menu-btn:hover {
    background-color: transparent;
    border-color: #6d980f
}

.jumbotron{
    background: none;
    background-image: url(/assets/images/Hero.png);
    background-size: cover;
    width: 100%;
    margin-bottom: 0;
    margin-top: -10rem;
}

.jumbotron-text{
    margin-top: 10rem;
    padding-left: 20rem;
}

.jumbotron-text h1{

    font-weight: 500;
    color: #fff;
    text-align: center;
}

.lead{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    text-align: right;
}

#hero-btn{
    background-color:#049DD9;
}

/* BUTTON DEFAULTS */
.btn-primary {
        border-color: #fff;
        font-family: Lato;
        font-weight: 400;
        text-transform: uppercase;
        position: center;
}

/* FACILITIES PAGE */

.fac-col {
    text-align: center;
}

.fac-icon {
    font-size: 3em;
    color: #6d980f;
    padding: 0.75rem 0.75rem;
}