/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* SITE WIDE */

body {
    background-color: black;
    color: #fff;
}

.section-bg {
    background-image:
        radial-gradient(circle, rgba(4, 157, 217, 0.9) 0%, rgba(0, 0, 0, 0.9) 70%),
        url(/assets/images/BG-Texture.jpg);
    background-size: cover;
}

/* NAVIGATION MENU */
nav {
    z-index: 1;
}

nav a {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #000000;
}

#menu-btn {
    background-color: #6D980F;
}

#menu-btn:hover {
    background-color: transparent;
    border-color: #6d980f
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #6d980f;
}

/* TEXT GENERICS */

.uppercase {
    text-transform: uppercase;
}

h3 {
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: 'roboto', sans-serif;
    font-size: 0.7rem;
}

/* BUTTONS */

.btn-primary {
    font-family: Lato;
    font-weight: 600;
    text-transform: uppercase;
    position: center;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

/* HERO */

#hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/Hero-Image\ 1600\ x\ 1000.png");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin-top: -10vh;
}

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 67%;
  width: 65%;
  transform: translate(-50%, -50%);
  color: white;
}

#hero-text h1{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

#hero-button {
    margin-top: 10px;
}

/* FACILITIES PAGE */

.fac-col {
    text-align: center;
}

.fac-icon {
    font-size: 3em;
    color: #6d980f;
    padding: 0.75rem 0.75rem;
}

#fac-title {
    font-weight: 600;
}



body, html {
    height: 100%;
}

.carousel-inner {
    height: 60vh;
}

#mycarousel img {
    width: 400px;
}