/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #000;
}



h1 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

h3 {
    color: #6D980F;
    font-weight: "Lato", sans-serif;
    font-weight: 500;
}

p {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.btn {
    text-transform: uppercase;
    border: 0;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.navbar {
    background-color: none;
}

.nav-item {
    text-align: right;
}

.page-title {
    font-size: 4rem;
}

.card-body {
    list-style-type: none;
}

.section-bg {
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.9) 10%, rgba(4, 156, 207, 0.9) 50%, rgba(0, 0, 0, 0.9) 90%),
        /*radial-gradient(circle, rgba(4, 157, 217, 0.9) 0%, rgba(0, 0, 0, 0.9) 70%),*/
        url(/assets/images/BG-Texture.jpg);
    background-size: cover;
}

.jumbotron {
    background-image: url("/assets/images/hero-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbotron .jumbo-block {
    position: absolute;
    top: 50%;
    left: 67%;
    width: 65%;
    transform: translate(-50%, -50%);
}

.jumbotron h1 {
    color: white;
    font-family: "roboto", sans-serif;
    font-weight: 600;
    font-size: 3vw;
}

#hero-section button {
    background-color: #049DD9;
}

/* FACILITIES SECTION */

.fac-icon {
    font-size: 4vw;
    color: #6d980f;
    padding-top: 2rem;
}

#facilities-section h2 {
    padding-top: 1rem;
}

#facilities-section p {
    padding: 0rem 2rem;
}

/* TRAINER SECTION */

#trainer-section {
    padding-top: 2rem;
}

#trainer-section img {
    width: 100%;
}

#trainer-section .badge-default {
    position: relative;
    top: -2.5rem;
    background: #049DD9;
    text-align: center;
    color: white;
    padding: 0.5rem 2rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    border-radius: 0;
}

#trainer-section .badge-default p {
    font-weight: 300;
    margin-bottom: 0;
}

.progress {
    height: 1.5rem;
}

.progress-bar {
    background-color: #6D980F;
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    text-align: start;
    text-indent: 0.5em;
}

#trainer-section .trainer-button {
    background-color: #049DD9;
}

/* TESTIMONIAL SECTION */

#testimonial-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#Aaron {
    width: 80%;
}

#abs {
    width: 150%;
    margin-left: -4rem;
}

#Amy {
    width: 95%;
}

#testimonial-section .badge-default {
    position: relative;
    top: -2.5rem;
    background: #049DD9;
    text-align: center;
    color: white;
    padding: 0.5rem 2rem;
    color: #fff;
    font-family: "Lato", sans-serif;
    border-radius: 0;
    font-size: 1rem;
}

#testimonial-section .badge-default p {
    font-weight: 300;
    margin-bottom: 0;
}

#testimonial-section h1 {
    padding-top: 1rem;
    font-size: 2.5rem;
    text-shadow: rgb(131, 131, 131)m 0.1rem 0.2rem;
}

#testimonial-section p {
    padding: 0rem 1rem;
    font-size: 0.8rem;
    font-weight: 300;
}

#testimonial-section .quote-icons {
    color: #6D980F
}

/* FOOTER */

footer {
    padding-bottom: 2rem;
    background-color: #000;
    border-top: #6D980F solid 0.2rem;
}

.footer-banner {
    background-image: url(/assets/images/footer-banner.png);
    background-size: cover;
    height: 15rem;
}

.footer-banner a {
    padding: 1rem 4rem;
}

.footer-banner h1 {
    font-weight: 400;
    padding-top: 1rem;
}

footer h3 {
    padding-top: 1rem;
    font-size: 1rem;
}

footer p {
    color: #777676;
    font-size: 1rem;
}

input {
    height: 2rem;
    width: 10rem;

}

footer .btn {
    border-radius: 0;
    margin-top: -0.3rem;
}

footer .contact-icons {
    color: #049DD9;
    padding-right: 0.2rem;
    font-size: 1rem;
}

footer .contact-text {
    font-size: 0.8rem;
    color: #777676;
}

footer .social-icons {
    color: #049DD9;
    padding: 0.5rem;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
}

footer address {
    font-size: 0.8rem;
    color: #777676;
}


/* CLASSES PAGE */

.classes-page {
background-image:
        linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%),
        url(/assets/images/classes-bg.png);
    background-size: cover;
}

#video iframe {
border: none;
height: 720px;
width:1080px;
}

#class-cards .card {
    background-color: rgba(0, 0, 0, 0.0);
    border: #6D980F solid 0.1rem;
    width: 25rem;
    margin:  2rem auto;
    padding: 0rem;
}

#class-cards .card-body {
    background-color: none;
    border-radius: 5rem;
}

#class-cards .card-body .card-img-top {
    width: 20rem;
}

#class-cards h3 {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

#class-cards .card-body .card-instructor-image {
    height: 4rem;
    border-radius: 10rem;
}

#class-cards .class-info p {
    margin-bottom: 0.1rem;
}

#class-cards .card-body i {
    font-size: 1.2rem;
    color: #049DD9;
}

#class-cards .card-body .low {
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#class-cards .card-body .medium {
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#class-cards .card-body .high {
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#class-cards button a {
    color: #fff;
    border-bottom: none;
    text-decoration: none;
}

#class-cards .card-body button {
    margin: 1rem 0rem;
    position: relative;
}

/* MEMBERSHIP PAGE */
.membership-page {
background-image:
        linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%),
        url(/assets/images/membership-bg.jpeg);
    background-size: cover;
}

.membership-intro {
    letter-spacing: 0.1rem;
}

.membership-intro strong {
    color: #6d980f;
    font-weight: 600;
}

.membership-intro p i {
    color: red;
}

#pricing-table {
    font-family: "lato", sans-serif;
    width: 90%;
}

#pricing-table button {
    background-color: #fff;
    color: #049DD9;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    height: 3rem;
    width: 8rem;
}

#pricing-table .card-body .title {
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
    color: #fff;

}

#pricing-table .card-footer h1 {
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
    color: #fff;
}

#pricing-table #bronze {
    background-color: #6D980F;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 2rem;
    width: 20%;
}

#pricing-table #silver {
    background-color: #049DD9;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: 2rem;
    width: 20%;
}

#pricing-table #gold {
    background-color: #6D980F;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    width: 20%;
    margin: 2rem;
}

#pricing-table #most-popular {
    border-radius: 0;
    background-color: #049DD9;
    color: #fff;
    padding: 0rem;
    height: 2rem;
    font-size: 1rem;
    position: absolute;
    margin-left: 2.2rem;
    margin-top: 0.5rem;
    z-index: 1;
}

#membership-button {
    padding: 1rem 8rem;
    margin-bottom: 3rem;
}


/* MODALS */
#contact-modal .modal-header {
    position: relative;
    height: 10rem;
    ;
    background-image: url("/assets/images/contact-modal-header.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#membership-modal .modal-header {
    position: relative;
    height: 10rem;
    ;
    background-image: url("/assets/images/membership-modal-header.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header h1 {

    color: #fff;
}

.modal-content {
    background: #000;
    border: #777676 solid 0.2rem;
}

.modal-form {
    padding: 2rem 1rem;
}

.modal-form form {
    background: #000;
    padding: 0.5rem;
}

.modal-form .form-group {
    margin-bottom: 1rem;
}

.modal-form .form-item span {
    color: red;
}

.modal-form .btn {
    background: #049DD9;
    font-size: 1rem;
    min-height: 3rem;
    border: none;
}

.modal-form .btn i {
    margin-right: 5px;
}

.modal-form label {
    color: #bbb;
    font-weight: normal;
}

.modal-form textarea {
    resize: vertical;
}

.hint-text {
    font-size: 15px;
    font-weight: 300;
    color: #bbb;
    margin: 0rem;
}

.modal-footer .btn-primary {
    background: #049DD9;
}

.form-control {
    margin-bottom: 0.5rem;
}



@media screen and (max-width:767px) {

    .col {
        padding-right: 0px;
    }

    .show-pc-only {
        display: none;
    }


    /* MOBILE - HERO SECTION*/

    #hero-section .jumbotron {
        background-image:
            url('/assets/images/hero-image-mobile.png');
        background-size: 110%;
        background-position: top;
        background-position-x: center;
    }

    .jumbotron .jumbo-block {
        position: absolute;
        top: 95%;
        left: 50%;
        width: 100%;
        background-color: rgba(0, 0, 255, 0);
    }

    .jumbotron h1 {
        font-size: 6vw;
    }

    /* MOBILE - FACILITIES SECTION */

    #facilities-section h2 {
        padding: 0rem 0rem;
    }

    #facilities-section p {
        padding: 0rem 0rem;
    }

    /* MOBILE-TRAINER SECTION */
    #trainer-section .badge-default {
        padding: 0.5rem 1rem;
        position: absolute;
    }

    #trainer-section .trainer-info {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    .progress {
        height: 0.8rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }

    .progress-bar {
        background-color: #6D980F;
        color: #fff;
        font-weight: 400;
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
        font-family: "Roboto", sans-serif;
        text-align: start;
        text-indent: 0.5em;
    }

    #trainer-section .trainer-button {
        padding: 0.4rem 0.4rem;
        position: relative;
        margin-left: 0.5rem;
    }

    /* MOBILE-TESTIMONIAL SECTION */
    #testimonial-section .badge-default {
        position: relative;
        top: -2.5rem;
        padding: 0.5rem 1rem;
    }

    #testimonial-section p {
        font-weight: 300;
        margin-bottom: 0;
        color: #fff;
    }

    #testimonial-section h1 {
        font-size: 2rem;
    }

    #abs {
        width: 40%;
    }

    #Aaron {
        width: 30%;
    }

    #Amy {
        width: 40%;
    }
}


/* TABLET */
@media screen and (min-width:768px) and (max-width:1023px) {
    .show-mob-only {
        display: none;
    }

    /* TABLET-HERO SECTION */

    .jumbotron {
        background-image: url("/assets/images/hero-image.png");
        height: 80vh;
        margin-top: 4rem;
    }

    /* TABLET-FACILITIES SECTION */

    .carousel-inner {
        height: 50vh;
        width: 80vh;
    }

    .carousel-inner img {
        height: 50vh;
        width: 80vh;
    }
}


/* PC */
@media screen and (min-width:1024px) {
    .show-mob-only {
        display: none;
    }
}